.container {
  font-family: "Poppins", sans-serif;
}
.wrapper {
  margin: 20px auto;
  display: block;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px 4px #b3b3b3;
  border: 2px solid grey;
  padding: 15px;
  border-radius: 10px;
  max-width: 600px;
  background: radial-gradient(
    circle at 0.4% -0.6%,
    rgb(143, 170, 210) 0%,
    rgb(255, 177, 177) 90%
  );
}
h1 {
  font-size: 50px;
  padding-top: 30px;
}
h2 {
  font-size: 40px;
  padding-top: 10px;
}
p {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-top: 40px;
  font-size: 20px;
}
img {
  width: 80px;
}
ul {
  list-style: none;
}
i {
  padding: 4px;
  font-size: 22px;
  text-align: center;
}

.form-row {
  box-sizing: border-box;
  display: block;
  padding: 20px;
}

.current {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.col-6-floatLeft {
  display: block;
  margin: 0 auto;
  text-align: left;
}

.col-6-floatRight {
  display: block;
  float: right;
  text-align: right;
  padding-top: 20px;
  font-size: 20px;
  line-height: 2;
  margin-left: 56px;
}

.units {
  font-size: 30px;
}
.forecast-temp-max {
  color: #000;
}
.forecast-temp-min {
  opacity: 0.8;
}
#celcius {
  color: #000;
}
#fahrenheit {
  color: #000;
}
#temperature {
  font-size: 30px;
  padding-top: 10px;
  text-align: left;
}

#left {
  float: left;
  left: 20px;
  margin-left: 60px;
}
#right {
  float: right;
  right: 20px;
  margin-right: 60px;
}

#weatherForecast {
  font-size: 20px;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}
#weatherDetails {
  font-weight: 500;
}
#weatherDescription {
  font-weight: 500;
}

footer {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: monospace;
  opacity: 80%;
}
